# Orlen fuel prices analysis
Projekt ma na celu porównanie hurtowych cen paliw oferowanych w Polsce z cenami zakupu ropy brent oraz kursem USD/PLN. Ma to na celu określenie zmian cen paliw na rynku Polskim w odniesieniu do zmian gospodarczych, a także stwierdzeniu czy występują okresy, w których ceny paliw nie korelowały z innymi czynnikami na nie wpływającymi.

In [2]:
import pandas as pd 
import os
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv
from datetime import datetime, timedelta

load_dotenv()

True

## 1. Wczytywanie danych

In [3]:
# Pobranie danych historycznych dotyczących cen ropy brent z pliku csv
brent = pd.read_csv('Dane historyczne dla Kontrakty terminowe na ropę Brent.csv')
brent

            Data Ostatnio Otwarcie   Max.   Min.     Wol. Zmiana%
0     29.12.2023    77,04    77,38  77,98  76,73  192,95K  -1,72%
1     28.12.2023    78,39    79,80  79,95  78,25   18,78K  -1,58%
2     27.12.2023    79,65    80,79  81,33  79,29   70,39K  -1,75%
3     26.12.2023    81,07    79,04  81,72  78,76   59,74K   2,53%
4     22.12.2023    79,07    79,35  80,37  78,88  119,19K  -0,40%
...          ...      ...      ...    ...    ...      ...     ...
1286  08.01.2019    58,72    57,64  58,87  57,13  288,25K   2,42%
1287  07.01.2019    57,33    57,41  58,93  57,26  296,58K   0,47%
1288  04.01.2019    57,06    55,67  58,31  55,34  321,11K   1,98%
1289  03.01.2019    55,95    54,29  56,30  53,93  278,36K   1,89%
1290  02.01.2019    54,91    54,12  56,56  52,51  300,95K   2,06%

[1291 rows x 7 columns]

In [4]:
# Pobranie danych histyorycznych kursu USD z pliku CSV
USD = pd.read_csv('moneypl-1705353753269.csv')
USD

              Tabela        Data  Kurs średni  Zmiana
0     251/A/NBP/2023  2023-12-29       3.9350    0.92
1     250/A/NBP/2023  2023-12-28       3.8990   -0.48
2     249/A/NBP/2023  2023-12-27       3.9178   -0.41
3     248/A/NBP/2023  2023-12-22       3.9338   -0.77
4     247/A/NBP/2023  2023-12-21       3.9645    0.30
...              ...         ...          ...     ...
1258    5/A/NBP/2019  2019-01-08       3.7559   -0.04
1259    4/A/NBP/2019  2019-01-07       3.7575   -0.38
1260    3/A/NBP/2019  2019-01-04       3.7720   -0.28
1261    2/A/NBP/2019  2019-01-03       3.7827    0.55
1262    1/A/NBP/2019  2019-01-02       3.7619    0.00

[1263 rows x 4 columns]

In [ ]:
# Pobranie danych dotyczących cen hurtowych cen ON ze strony internetowej lotos.pl